@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

body{
    background-color: #181818;
    font-family: Reenie Beanie;
}

header{
    display: flex;
    justify-content: center;
    color: white;
}

.title{
    font-size: 50px;
}

.buttons{
    display: flex;
    justify-content: center;
    gap:20px
}

.ngo,.supporter{
    width: 160px;
    height: 80px;
    font-family: Reenie Beanie;
    font-size: 35px;
    color: white;
    background-color: #181818;
    border: 2px solid white;
}

.ngo:hover{
    font-size: 40px;
    width: 190px;
    height: 90px;
}

.supporter:hover{
    font-size: 40px;
    width: 190px;
    height: 90px;
}

.dialog{
    background-color: #181818;
    color: white;

}

.dialogedit{
    background-color: #181818;
    color: white;
    position: absolute;
    top: 350px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form input{
    background-color: #181818;
    color: white;
    font-family: Reenie Beanie;
    font-size: 35px;
    border: 2px solid white;

}

.form input::placeholder{
    color: white;
}

.actions{
    display: flex;
    justify-content: center;
}

.submit{
    width: 150px;
    height: 35px;
    font-family: Reenie Beanie;
    font-size: 30px;
    background-color: #181818;
    color: white;
    border:2px solid white
}

.board{
    border: 17px solid #440e0b;
    margin-top: 20px;
    background-color: #010f01;
    height: 800px;
}

.ngoboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 390px;
}

.ngos{
    margin-top: -15px;
    display: flex;
    justify-content: space-evenly;
    width:700px ;
}

.ngoitem{
    font-size: 26px;
    padding: 0 25px 0 25px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    font-size: 35px;
}

.ngoitem:hover{
    border: 1px solid white
}

.ngobuttons{
    display: flex;
    gap: 10px;
}

.editdelete{
    background-color: #010f01;
    color: white;
    font-family: Reenie Beanie;
    font-size: 23px;
    border: 0px;
    width: 50px;
    height: 20px;
}

.editdelete:hover{
    font-size: 30px;
}

hr{
    width: 1100px;
    margin: 30px auto 15px auto    
}

.supporterboard{
    display: flex;
    justify-content: center;
    color: white;
    height: 390px;
    margin-top: -15px;
}

footer{
    margin: 20px auto 20px auto;
    color: white;
    font-size: 30px;
}